{% extends 'store/main.html' %}
{% load static %}

{% block content %}
  <main class="product-container">
    <div class="product-cards">
      <div class="card">
        <div class="primg">
          <a href="{% url 'product_details' %}"><img class="thumbnail" src="{% static 'images/test.jpg' %}" alt="product image" /></a>
        </div>
        <div class="prdetails">
          <div class="prdetails-content">
            <p class="hpr3">Kurti</p>
            <p class="ppr">₹6000</p>
          </div>
          <button class="buy-now-button">Buy Now</button>
        </div>
      </div>
    </div>

    <div class="product-cards">
      <div class="card">
        <div class="primg">
          <img class="thumbnail" src="{% static 'images/test.jpg' %}" alt="product image"/>
        </div>
        <div class="prdetails">
          <p class="hpr3">Kurti</p>
          <p class="ppr">₹6000</p>
          <button class="buy-now-button">Buy Now</button>
        </div>
      </div>
    </div>

    <div class="product-cards">
      <div class="card">
        <div class="primg">
          <img class="thumbnail" src="{% static 'images/placeholder.jpg' %}" alt="product image" />
        </div>
        <div class="prdetails">
          <p class="hpr3">Kurti</p>
          <p class="ppr">₹6000</p>
          <button class="buy-now-button">Buy Now</button>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
