* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #0d0101;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Ysabeau Office', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.nav-links ul {
  list-style: none;
  display: flex;
}

.nav-links ul li {
  margin-left: 20px;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.nav-links ul li a:hover {
  background-color: #fff;
  color: #0d0101;
}
/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .logo {
    margin-bottom: 10px;
  }

  .nav-links ul {
    flex-direction: row;
  }

  .nav-links ul li {
    margin: 5px 0;
  }
}